@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    height: 100%;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

div {
    margin: 0;
}

#bg1 {
    background-image: url("skhldr.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}

#bg2 {
    background-image: url("//i.imgur.com/ebrlqgU.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}

#bg3 {
    background-image: url("//i.imgur.com/9i8OKB0.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}

.black {
    background-color: black;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}

.block1 {
    background-color: #7b7b7b;
    padding: 5px;
    color: white;
}